        body {
            background-color: black;
        }
        .header {
            padding: 5px;
            text-align: center;
            background: #044750;
            color: white;
            font-size: 30px;
            border-radius: 5px;
        }
        .content {
            background-color: black;
        }

        .text {
            color:white;
        }
        .img{
            float: left;
            height: 75px;
            width:350px;
            padding: 6px;
            border-radius: 5px;
        }
        .th
        {
            font-size: 25px;
        }
        .mnctr {
            position: relative;
            text-align: center;
            color: white;
        }
        .mncen {
            position: absolute;
            font-size: 72px;
            font-family:"Moon 2.0 Bold";
            color:rgb(148, 0, 247);
            text-emphasis-color: purple;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .row::after {
            content: "";
            clear: both;
            display: table;
          }
         
          .column {
            align: center;
            float: left;
            width: 32.5%;
            padding: 5px;
            margin-left: 4px;
          }
          .h {
              text-align:center;
              text-emphasis: italic;
              color: white;
          }
          .column1 {
            align: center;
            float: left;
            width: 48%;
            padding: 5px;
            margin-left: 4px;
          }
          .img1
          {
            border-radius: 5px 50px;
          }
          .img2{
              border-radius: 20px;
          }
          .btn{
              align:center;
              color:white;
              font-size: 30px;
              padding: 20px 40px;

          }
          .joinus {
              background :linear-gradient(rgb(15, 248, 15),green);

          }
        .joinus:hover 
        {
            background: linear-gradient(rgb(0, 217, 255), blue);
        } 
        .menubar {
            overflow: hidden;
            background-color: black;
          }
          
          .menubar a {
            float: right;
            color: #f2f2f2;
            text-align: center;
            padding: 35px ;
            text-decoration:salmon;
            font-family:"Gill Sans";
            border-radius: 20px;
            font-size: 20px;
          }
          
          .menubar a:hover {
            background-color: rgb(245, 245, 245);
            color: rgb(0, 0, 0);
          }
          
          .menubar a.active {
            background: linear-gradient(rgb(0, 219, 0),green);
            color: whitesmoke;
          }
          .footer {
            padding: 1px;
            text-align: center;
            background: #044750;
            color: white;
            font-size: 10px;
            border-radius: 5px;
        }
        .text1 {
            color:white;
            font-size:10px;
        }


          
        